= select_tag 'search[estado_id]', options_from_collection_for_select(EntidadTerritorial::Estado.all, "id", "nombre"), :label => false, prompt: "Estado"
= select_tag 'search[municipio_id]', options_from_collection_for_select([], "id", "nombre"), :label => false, prompt: "Municipo",
    		:"data-option-dependent" => true, 
        :"data-option-observed" => "search_estado_id", 
        :"data-option-url" => "/estados/:search_estado_id:/municipios.json", 
        :"data-option-key-method" => :id, 
        :"data-option-value-method" => :nombre 
= select_tag 'search[parroquia_id]', options_from_collection_for_select([], "id", "nombre"), :label => false, prompt: "Parroquia", 
        :"data-option-dependent" => true, 
        :"data-option-observed" => "search_municipio_id", 
        :"data-option-url" => "/municipios/:search_municipio_id:/parroquias.json", 
        :"data-option-key-method" => :id, 
        :"data-option-value-method" => :nombre
= select_tag 'search[sector_id]', options_from_collection_for_select([], "id", "nombre"), :label => false, prompt: "Sector", 
        :"data-option-dependent" => true, 
        :"data-option-observed" => "search_parroquia_id", 
        :"data-option-url" => "/parroquias/:search_parroquia_id:/sectores.json", 
        :"data-option-key-method" => :id, 
        :"data-option-value-method" => :nombre
