= simple_form_for :search, {url: search_proyectos_path, method: :get} do |f|
  %div.row-fluid
    .span7.first
      = f.input :nombre, label: false, placeholder: 'Nombre', input_html: { class: 'span12'}, wrapper_html: {class: 'compact-horizontal'}
    .span3
      = f.input :numero_proyecto, label: false, placeholder: 'Número de Proyecto', input_html: { class: 'span12'}, wrapper_html: {class: 'compact-horizontal'}
  %div.row-fluid
    .span12
      = f.select :fuente_financiamiento, FuenteFinanciamiento.all.map{ |r| [r.nombre, r.id] }, :label => false, prompt: "Fuente de inanciamiento"
      = select_tag 'search[fondo_financiamiento]', options_from_collection_for_select([], "id", "nombre"), :label => false, prompt: "Fondo de Financiamiento",
        :"data-option-dependent" => true, 
        :"data-option-observed" => "search_fuente_financiamiento", 
        :"data-option-url" => "/fuentes_financiamiento/:search_fuente_financiamiento:/fondos_financiamiento.json", 
        :"data-option-key-method" => :id, 
        :"data-option-value-method" => :nombre  
      = f.select :tipo_obra, TipoObra.all.map{ |r| [r.nombre, r.id] }, :label => false, prompt: "Tipo de Obra"
      = select_tag 'search[sub_tipo_obra]', options_from_collection_for_select([], "id", "nombre"), :label => false, prompt: "Sub Tipo de Obra",
        :"data-option-dependent" => true, 
        :"data-option-observed" => "search_tipo_obra", 
        :"data-option-url" => "/tipos_obras/:search_tipo_obra:/sub_tipos_obras.json", 
        :"data-option-key-method" => :id, 
        :"data-option-value-method" => :nombre 
  %div.row-fluid
    .span12
      = render 'reportes/proyectos/entidad_territorial_fields', :f => f
  %div.row-fluid
    .span12
      = f.select :unidad, Unidad.all.map{ |r| [r.nombre, r.id] }, :label => false, prompt: "Unidad"
      = select_tag 'search[institucion]', options_from_collection_for_select([], "id", "nombre"), :label => false, prompt: "Institución",
        :"data-option-dependent" => true, 
        :"data-option-observed" => "search_unidad", 
        :"data-option-url" => "/unidades/:search_unidad:/instituciones.json", 
        :"data-option-key-method" => :id, 
        :"data-option-value-method" => :nombre  
      = select_tag 'search[ente_ejecutor]', options_from_collection_for_select([], "id", "nombre"), :label => false, prompt: "Ente Ejecutor",
        :"data-option-dependent" => true, 
        :"data-option-observed" => "search_institucion", 
        :"data-option-url" => "/instituciones/:search_institucion:/entes_ejecutores.json", 
        :"data-option-key-method" => :id, 
        :"data-option-value-method" => :nombre  
    %div.row-fluid
      .span12.first
      = button_tag(class: 'btn btn-icon btn-primary glyphicons search') do
        - content_tag(:i, '') + "Buscar"
      = link_to(proyectos_path , class: 'btn btn-icon btn-default glyphicons circle_remove') do
        - content_tag(:i, '') + "Cancelar"  