%div.span10
  %div.row-fluid
    = f.input :nombre, as: :text, input_html: {maxlength: 255, row:2, class: 'span12'}
    = f.input :descripcion, as: :text, input_html: {maxlength: 255, row:2, class: 'span12'}
  %div.row-fluid
    .span4
      = f.input :fecha_inicial, required: true, :as => :date_picker, input_html: { class: 'span6'}
    .span4
      = f.input :fecha_final, required: true, :as => :date_picker, input_html: { class: 'span6'}
    .span4    
      = f.input :lapso_ejecucion_en_meses, label: 'Lapso Ejecución', input_html: { class: 'span12', placeholder: 'meses'}
  %div.row-fluid
    .span6
      = f.input :numero_proyecto, label: 'Número de Proyecto'
    .span3
      = f.input :impacto, label: 'Impacto Estructurante'
    .span3  
      = f.input :posee_recursos, label: 'Posee Recursos'
  %div.row-fluid  
    .span6
      = f.association :unidad, collection: @unidades.map{ |e| [e.nombre, e.id] }, input_html: { id: "proyecto_unidad_id" } 
    .span6          
      = f.association :institucion,
          collection: f.object.unidad.nil? ? [] : f.object.unidad.instituciones,
          required: true, 
          label_method: :nombre,
          input_html: { :id => "proyecto_institucion_id",
            :"data-option-dependent" => true, 
            :"data-option-observed" => "proyecto_unidad_id", 
            :"data-option-url" => "/unidades/:proyecto_unidad_id:/instituciones.json", 
            :"data-option-key-method" => :id, 
            :"data-option-value-method" => :nombre,
            class: 'span8' }        
  %div.row-fluid
    .span6
      = f.association :ente_ejecutor,
          collection: f.object.institucion.nil? ? [] : f.object.institucion.entes_ejecutores,
          required: true, 
          label_method: :nombre,
          input_html: { :id => "proyecto_ente_ejecutor_id",
            :"data-option-dependent" => true, 
            :"data-option-observed" => "proyecto_institucion_id", 
            :"data-option-url" => "/instituciones/:proyecto_institucion_id:/entes_ejecutores.json", 
            :"data-option-key-method" => :id, 
            :"data-option-value-method" => :nombre }
    .span6    
      = f.input :punto_cuenta, label: 'Punto de Cuenta', input_html: {maxlength: 20, class: 'span12'}
  %div.row-fluid  
    .span6
      = f.association :tipo_obra, collection: @tipos_obras.map{ |e| [e.nombre, e.id] }, input_html: { id: "proyecto_tipo_obra_id" } 
    .span6
      = f.association :sub_tipo_obra,
          collection: f.object.tipo_obra.nil? ? [] : f.object.tipo_obra.sub_tipos_obras,
          required: true, 
          label_method: :nombre,
          input_html: { :id => "proyecto_sub_tipo_obra_id",
            :"data-option-dependent" => true, 
            :"data-option-observed" => "proyecto_tipo_obra_id", 
            :"data-option-url" => "/tipos_obras/:proyecto_tipo_obra_id:/sub_tipos_obras.json", 
            :"data-option-key-method" => :id, 
            :"data-option-value-method" => :nombre }  
  %div.row-fluid
    .span6
      = f.input :habitantes_beneficiados, input_html: {class: 'span12'}  
    .span6
      = f.input :empleos_directos, input_html: {class: 'span12'}  
  %div.row-fluid
    .span6
      = f.input :empleos_indirectos, input_html: {class: 'span12'}  
    .span6
      = f.association :estatus3i, collection: @estatus3i.map{ |e| [e.nombre, e.id] }
  %br
    = render 'monto_proyecto', :f => f
  %br
    = render 'proyecto_financiamiento', :f => f
  %br
    = render 'proyecto_ubicacion', :f => f

:javascript
  $('#new_proyecto').click(function(){
    if($('#proyecto_fecha_inicial').val() != '' && $('#proyecto_fecha_final').val() != ''){
      f1 = $('#proyecto_fecha_inicial').val();
      f2 = $('#proyecto_fecha_final').val();
      af1 = f1.split("/");
      af2 = f2.split("/");
      num_meses = parseInt((af2[2] - af1[2])*12) + parseInt(af2[1] - af1[1]);
      $('#proyecto_lapso_ejecucion_en_meses').val(num_meses);
    }
  })

