%table.table.table-condensed.table-striped
  %thead
    %tr
      %th="No. de Proyecto"  
      %th="Actividad Solicitada / Nombre Proyecto"  
      %th="Monto Solicitado"
      %th="Monto Aprobado"
      %th="Fecha Inicial"
      %th="Fecha Final"
      %th="Estatus"
      %th="Estatus 3i"
      %th="Ejecución Física"
      %th="Ejecución Financiera"
      %th=""
  %tbody
    - if params[:page].nil? || params[:page] == "0" || params[:page] == "1" 
      - contador = 0 
    - else 
      - page = params[:page].to_i - 1 
      - contador = page * 15 
    - @proyectos.each do |p|
      %tr
        %td 
          =contador += 1
          =link_to(image_tag("pdf-icon.png"), pdf_proyecto_path(p, format: :pdf))
        %td= link_to(p.nombre, proyecto_path(p))
        %td= p.montos_solicitados
        %td= p.montos_aprobados
        %td= p.fecha_inicial
        %td= p.fecha_final
        %td
          %span.label.label-primary= p.estatus_dinamico
        %td= p.estatus3i.nombre
        %td
          %a.widget-stats-easy-pie{:href => "#"}
            .easy-pie.easyPieChart{"data-percent" => "#{p.ejecucion_fisica}", :style => "width: 50px; height: 50px; line-height: 50px;"}
              %span.value= "#{p.ejecucion_fisica}%"
              %canvas{:height => "50", :width => "50"}
            .clearfix
        %td
          %a.widget-stats-easy-pie{:href => "#"}
            .easy-pie.easyPieChart{"data-percent" => "#{p.ejecucion_financiera}", :style => "width: 50px; height: 50px; line-height: 50px;"}
              %span.value= "#{p.ejecucion_financiera}%"
              %canvas{:height => "50", :width => "50"}
            .clearfix
        %td{style: 'width: 60px'}
          = link_to(edit_proyecto_path(p), class: 'pjax', title: 'Editar'){ content_tag(:i, '', class:"icon-pencil") }
          = link_to(proyecto_path(p), method: :delete, class: 'pjax', title: 'Eliminar', data: {confirm: '¿Desea eliminar el proyecto?'}){ content_tag(:i, '', class:"icon-remove") }
          = link_to(proyecto_actividades_path(p), class: 'pjax', title: 'Actividades'){ content_tag(:i, '', class:"icon-tasks") }
          = link_to(proyecto_contratos_path(p), class: 'pjax', title: 'Contratos'){ content_tag(:i, '', class:"icon-book") }  
          = link_to(proyecto_bitacoras_path(p), class: 'pjax', title: 'Bitacoras'){ content_tag(:i, '', class:"icon-list-alt") }
          = link_to(proyecto_desembolsos_path(p), class: 'pjax', title: 'Desembolsos'){ content_tag(:i, '', class:"icon-tags") }
