.nested-fields.well  
  .row-fluid
    .span11
      .span8
        = f.input :moneda_id, collection: Moneda.all, label_method: :nombre, value_method: :id, :label => 'Moneda', prompt: "Moneda", input_html: { class: 'span8', :id => 'moneda_id' }
      .span8
        = f.input :solicitado, :label => 'Monto Solicitado', prompt: "Monto Solicitado", input_html: { class: 'span6', :id => 'solicitado' }  
      .span8
        = f.input :aprobado, :label => 'Monto Aprobado', prompt: "Monto Aprobado", input_html: { class: 'span6', :id => 'aprobado' }  
      %br
    .span1
      %br
        = link_to_remove_association "Eliminar", f



