#montos_proyectos
  = error_message("Debe agregar un monto al proyecto") unless @proyecto.errors.messages[:montos_proyectos].blank?
  = f.simple_fields_for :montos_proyectos do |o|
    = render 'monto_proyecto_fields', :f => o 
  .links
    = link_to_add_association(f, :montos_proyectos,  { class: 'btn btn-icon glyphicons circle_plus btn-success' }){ content_tag('i') + ' Agregar Montos Aprobados/Solicitados del Proyecto' }
