.nested-fields.well  
  .row-fluid
    .span11
      .row-fluid
        .span12
          = f.association :fuente_financiamiento, collection: @fuentes_financiamientos.map{ |e| [e.nombre, e.id] }, input_html: { id: "_new_proyectos_financiamientos_fuente_financiamiento_id" }  
        .span12      
          = f.association :fondo_financiamiento,
            collection: f.object.fuente_financiamiento.nil? ? [] : f.object.fuente_financiamiento.fondos_financiamiento,
            required: true, 
            label_method: :nombre,
            input_html: { :id => "_new_proyectos_financiamientos_fondo_financiamiento_id",
              :"data-option-dependent" => true, 
              :"data-option-observed" => "_new_proyectos_financiamientos_fuente_financiamiento_id", 
              :"data-option-url" =>"/fuentes_financiamiento/:_new_proyectos_financiamientos_fuente_financiamiento_id:/fondos_financiamiento.json", 
              :"data-option-key-method" => :id, 
              :"data-option-value-method" => :nombre }  
      %br
    .span1
      %br
        = link_to_remove_association "Eliminar", f
