#proyecto_ubicacion
  = f.simple_fields_for :proyectos_ubicaciones do |o|
    = render 'proyecto_ubicacion_fields', :f => o 
  .links
    = link_to_add_association(f, :proyectos_ubicaciones,  { class: 'btn btn-icon glyphicons circle_plus btn-success' }){ content_tag('i') + ' Agregar Zona Territorial' }
