.nested-fields.well  
  .row-fluid
    .span11
      .row-fluid
        .span6
          = f.association :estado, collection: @estados.map{ |e| [e.nombre, e.id] }, input_html: { id: "_new_proyectos_ubicaciones_estado_id" } 
        .span3
          = f.association :municipio,
            collection: f.object.municipio.nil? ? [] : f.object.estado.municipios,
            required: false,
            label_method: :nombre,
            input_html: { :id => "_new_proyectos_ubicaciones_municipio_id",
              :"data-option-dependent" => true, 
              :"data-option-observed" => "_new_proyectos_ubicaciones_estado_id", 
              :"data-option-url" => "/estados/:_new_proyectos_ubicaciones_estado_id:/municipios.json", 
              :"data-option-key-method" => :id, 
              :"data-option-value-method" => :nombre } 
      .row-fluid  
        .span6 
          = f.association :parroquia,
            collection: f.object.parroquia.nil? ? [] : f.object.municipio.parroquias,
            required: false,
            label_method: :nombre,
            input_html: { :id => "_new_proyectos_ubicaciones_parroquia_id",
              :"data-option-dependent" => true, 
              :"data-option-observed" => "_new_proyectos_ubicaciones_municipio_id", 
              :"data-option-url" => "/municipios/:_new_proyectos_ubicaciones_municipio_id:/parroquias.json", 
              :"data-option-key-method" => :id, 
              :"data-option-value-method" => :nombre } 
        .span3 
          = f.association :sector,
            collection: f.object.sector.nil? ? [] : f.object.parroquia.sectores,
            required: false,
            label_method: :nombre,
            input_html: { :id => "_new_proyectos_ubicaciones_sector_id",
              :"data-option-dependent" => true, 
              :"data-option-observed" => "_new_proyectos_ubicaciones_parroquia_id", 
              :"data-option-url" => "/parroquias/:_new_proyectos_ubicaciones_parroquia_id:/sectores.json", 
              :"data-option-key-method" => :id, 
              :"data-option-value-method" => :nombre }
      .row-fluid
        .span1
          %br
          = link_to_remove_association "Eliminar", f
