#proyecto_financiamiento
  = error_message("Debe agregar una fuente y fondo de financiamiento") unless @proyecto.errors.messages[:proyectos_financiamientos].blank?
  = f.simple_fields_for :proyectos_financiamientos do |o|
    = render 'proyecto_financiamiento_fields', :f => o 
  .links
    = link_to_add_association(f, :proyectos_financiamientos,  { class: 'btn btn-icon glyphicons circle_plus btn-success' }){ content_tag('i') + ' Agregar Fuente y Fondo de Financiamiento' }
