.row-fluid
  .span7
    %h4
      = @proyecto.nombre
    %p= @proyecto.descripcion.titleize
    %p= @proyecto.numero_proyecto
    %abbr= 'Unidad:'
    = @proyecto.unidad.nombre
    %br
    %abbr= 'Institución:'
    = @proyecto.unidad.nombre
    %br
    %abbr= 'Ente ejecutor:'
    = @proyecto.ente_ejecutor.nombre
    %br
    %abbr= 'Punto de cuenta:'
    = @proyecto.punto_cuenta
    %br
    %abbr= 'Tipo obra:'
    = @proyecto.tipo_obra.nombre
    %br
    %abbr= 'Sub-Tipo Obra:'
    = @proyecto.sub_tipo_obra.nombre


     
  .span5
    %h4
      Fecha inicial:  
      %span 
        = @proyecto.fecha_inicial
    %h4
      Fecha final:  
      %span 
        = @proyecto.fecha_final
    %h4
      Duración:  
      %span         
        = pluralize @proyecto.lapso_ejecucion_en_meses, 'Mes' 
    %h4
      Habitantes beneficiados:  
      %span         
        = @proyecto.habitantes_beneficiados
    %h4
      Empleos directos:  
      %span         
        = @proyecto.empleos_directos
    %h4
      Empleos indirectos:  
      %span         
        = @proyecto.empleos_indirectos
    %h4
      Status 3i:  
      %span         
        = @proyecto.estatus3i.nombre
- unless @proyecto.comentarios.blank?        
  .row-fluid
    .alert.alert-primary
      %a.close{:'data-dismiss'=> 'alert'}= 'x'       
      %p= @proyecto.comentarios


.row-fluid
  .widget-head
    %h3.heading Montos del proyecto
  .widget-body  
    .span6
      %p
        %strong Montos Solicitados
      - @proyecto.montos_solicitados.split(',').each do |m|
        %p= m
    .span6
      %p
        %strong Montos Aprobados
      - @proyecto.montos_aprobados.split(',').each do |m|
        %p= m

.row-fluid
  .widget-head
    %h3.heading Zonas Territoriales
  .widget-body  
    %table.table.table-condensed.table-striped
      %thead
        %tr
          %th Estado
          %th Municipio
          %th Parroquia
          %th Sector
      %tbody
        - @proyecto.proyectos_ubicaciones.each do |u|
          %tr
            %td= u.estado.nombre 
            %td= u.municipio.nombre 
            %td= u.parroquia.nombre 
            %td= u.sector.nombre 
