%div.innerLR
  %div.widget.widget-tabs
    %div.widget-head
      %ul.tabs
        %li.icon.index_collection_link
          = link_to(proyectos_path, class: 'pjax'){ content_tag(:i, '', class:"icon-th-list") + content_tag(:span, ' Listar') }
        %li.icon.new_collection_link 
          = link_to(new_proyecto_path, class: 'pjax'){ content_tag(:i, '', class:"icon-plus") + content_tag(:span, ' Agregar Nuevo') }
        %li.icon.edit_member_link.active
          = link_to(edit_proyecto_path(@proyecto), class: 'pjax'){ content_tag(:i, '', class:"icon-pencil") + content_tag(:span, ' Editar') }
        %li.icon.delete_member_link 
          = link_to(proyecto_path(@proyecto), method: :delete, class: 'pjax'){ content_tag(:i, '', class:"icon-remove") + content_tag(:span, ' Eliminar') }
    %div.widget-body
      %div.tab-content

        = simple_form_for @proyecto do |f| 
          = f.error_notification 
          = flash_messages
       
          %div.row-fluid
            %div.span11
              %div.row-fluid
                = render 'form_fields', :f => f
              %div.span10
                %div.row-fluid
                  = f.input :comentarios, as: :text, input_html: {maxlength: 255, row:4, class: 'span12'}
          %br
          = button_tag(class: 'btn btn-icon btn-primary glyphicons circle_ok') do
            - content_tag(:i, '') + "Guardar"
          = link_to(proyectos_path , class: 'btn btn-icon btn-default glyphicons circle_remove') do
            - content_tag(:i, '') + "Cancelar"
      