%div.innerLR
  %div.widget.widget-tabs
    %div.widget-head{style: 'text-align: center'}
      %h1 Proyecto    
    %div.widget-body
      %table.table.table-condensed.table-striped
        %tbody
          %tr
            %td
              = @proyecto.nombre
              %p= @proyecto.descripcion.titleize
              %p= @proyecto.numero_proyecto
              %abbr= 'Unidad:'
              = @proyecto.unidad.nombre
              %br
              %abbr= 'Institución:'
              = @proyecto.unidad.nombre
              %br
              %abbr= 'Ente ejecutor:'
              = @proyecto.ente_ejecutor.nombre
              %br
              %abbr= 'Punto de cuenta:'
              = @proyecto.punto_cuenta
              %br
              %abbr= 'Tipo obra:'
              = @proyecto.tipo_obra.nombre
              %br
              %abbr= 'Sub-Tipo Obra:'
              = @proyecto.sub_tipo_obra.nombre

            %td
              %p
                Fecha inicial:  
                %span 
                  = @proyecto.fecha_inicial
              %p
                Fecha final:  
                %span 
                  = @proyecto.fecha_final
              %p
                Duración:  
                %span         
                  = pluralize @proyecto.lapso_ejecucion_en_meses, 'Mes' 
              %p
                Habitantes beneficiados:  
                %span         
                  = @proyecto.habitantes_beneficiados
              %p
                Empleos directos:  
                %span         
                  = @proyecto.empleos_directos
              %p
                Empleos indirectos:  
                %span         
                  = @proyecto.empleos_indirectos
              %p
                Status 3i:  
                %span         
                  = @proyecto.estatus3i.nombre
                
          - unless @proyecto.comentarios.blank?        
            %tr
              %td{colspan: 2}                 
                %p= @proyecto.comentarios

        %tr
          %td{colspan: 2}                 
            %h3.heading{style:'text-align:center'} Montos del proyecto
        %tr
          %td
            %p
              %strong Montos Solicitados
            - @proyecto.montos_solicitados.split(',').each do |m|
              %p= m
          %td
            %p
              %strong Montos Aprobados
            - @proyecto.montos_aprobados.split(',').each do |m|
              %p= m
              %tr

      %table.table.table-condensed
        %tbody
          %tr
            %td{colspan: 4}                 
              %h3.heading{style:'text-align:center'} Zonas Territoriales
       
          %tr
            %th Estado
            %th Municipio
            %th Parroquia
            %th Sector
        
          - @proyecto.proyectos_ubicaciones.each do |u|
            %tr
              %td= u.estado.nombre 
              %td= u.municipio.nombre 
              %td= u.parroquia.nombre 
              %td= u.sector.nombre 
      