%div.innerLR
  %div.widget.widget-tabs
    %div.widget-head
      %ul.tabs
        %li.icon.index_collection_link
          = link_to(proyectos_path, class: 'pjax'){ content_tag(:i, '', class:"icon-th-list") + content_tag(:span, ' Listar') }
        %li.icon.new_collection_link 
          = link_to(new_proyecto_path, class: 'pjax'){ content_tag(:i, '', class:"icon-plus") + content_tag(:span, ' Agregar Nuevo') }
        %li.icon.edit_member_link
          = link_to(edit_proyecto_path(@proyecto), class: 'pjax'){ content_tag(:i, '', class:"icon-pencil") + content_tag(:span, ' Editar') }
        %li.icon.delete_member_link 
          = link_to(proyecto_path(@proyecto), method: :delete, class: 'pjax', confirm: '¿Desea eliminar el proyecto?'){ content_tag(:i, '', class:"icon-remove") + content_tag(:span, ' Eliminar') }
    %div.widget-body
      %div.tab-content
        = render 'proyecto'
      