= simple_form_for :valuacion, {url: search_valuaciones_path, method: :get} do |f|
  - if @contrato      
    = hidden_field_tag :proyecto_id, @proyecto.id
    = hidden_field_tag :contrato_id, @contrato.id
  - else
    .row-fluid
      .span3
        = f.input :numero_contrato, label: false, placeholder: 'Número contrato', input_html: { class: 'span12'}, wrapper_html: {class: 'compact-horizontal'}
      .span6
        = f.input :nombre_proyecto, label: false, placeholder: 'Proyecto', input_html: { class: 'span12'}, wrapper_html: {class: 'compact-horizontal'}  
  .row-fluid
    .span3.first            
      = f.input :numero_valuacion, label: false, placeholder: 'Número valuación', input_html: { class: 'span12'}, wrapper_html: {class: 'compact-horizontal'}
    .span6
      = f.input :ingeniero_inspector, label: false, placeholder: 'Ingeniero inspector', input_html: { class: 'span12'}, wrapper_html: {class: 'compact-horizontal'}
  .row-fluid
    .span3            
      = f.input :desde, label: false, placeholder: 'Desde', :as => :date_picker, input_html: { class: 'span12'}, wrapper_html: {class: 'compact-horizontal'}  
    .span3          
      = f.input :hasta, label: false, placeholder: 'Hasta',:as => :date_picker, input_html: { class: 'span12'}, wrapper_html: {class: 'compact-horizontal'}        
  .row-fluid
    .span12.first
      = button_tag(class: 'btn btn-icon btn-primary glyphicons search') do
        - content_tag(:i, '') + "Buscar"
      - if @contrato 
        = link_to(valuaciones_path(@contrato) , class: 'btn btn-icon btn-default glyphicons circle_remove') do
          - content_tag(:i, '') + "Cancelar"  
      - else
        = link_to(list_valuaciones_path , class: 'btn btn-icon btn-default glyphicons circle_remove') do
          - content_tag(:i, '') + "Cancelar"  
