%div.span10
  %div.row-fluid
    = f.input :numero, input_html: {class: 'span6'}
    = f.input :ingeniero_inspector, input_html: {maxlength: 100,class: 'span8'}
    = f.input :fecha_desde, required: true, :as => :date_picker, input_html: { class: 'span6'}
    = f.input :fecha_hasta, required: true, :as => :date_picker, input_html: { class: 'span6'}
  %div.row-fluid
    %br
    = render 'monto_valuacion', :f => f  