%table.table.table-condensed.table-striped
  %thead
    %tr
      %th="Número"  
      %th="Fecha Desde"
      %th="Fecha Hasta"
      %th="Monto ejecutado"
      %th="Ingeniero inspector"
      %th=""
  %tbody
    - @valuaciones.each do |p|
      %tr
        %td= p.numero
        %td= p.fecha_desde
        %td= p.fecha_hasta
        %td= p.montos
        %td= p.ingeniero_inspector
        %td
          = link_to(edit_valuacion_path(p.contrato, p), class: 'pjax', title: 'Editar'){ content_tag(:i, '', class:"icon-pencil") }
          = link_to(valuacion_path(p.contrato, p), method: :delete, class: 'pjax', title: 'Eliminar', data: {confirm: '¿Desea eliminar el proyecto?'}){ content_tag(:i, '', class:"icon-remove") }
