#monto_valuacion
  = f.simple_fields_for :montos_valuaciones do |o|
    = render 'monto_valuacion_fields', :f => o 
  .links
    = link_to_add_association(f, :montos_valuaciones,  { class: 'btn btn-icon glyphicons circle_plus btn-success' }){ content_tag('i') + ' Agregar Montos de la Valuacion' }
