%div.innerLR
  %h3 Editando Valuación
  = render 'shared/descripcion_proyecto'
  = render 'shared/descripcion_contrato'
  %div.widget.widget-tabs
    %div.widget-head
      %ul.tabs
        %li.icon.index_collection_link
          = link_to(valuaciones_path(@contrato), class: 'pjax'){ content_tag(:i, '', class:"icon-th-list") + content_tag(:span, ' Listar') }
        %li.icon.new_collection_link 
          = link_to(new_valuacion_path(@contrato), class: 'pjax'){ content_tag(:i, '', class:"icon-plus") + content_tag(:span, ' Agregar Nuevo') }
        %li.icon.edit_member_link.active
          = link_to(edit_valuacion_path(@contrato,@valuacion), class: 'pjax'){ content_tag(:i, '', class:"icon-pencil") + content_tag(:span, ' Editar') }
        %li.icon.delete_member_link 
          = link_to(valuacion_path(@contrato,@valuacion), method: :delete, class: 'pjax', confirm: '¿Desea eliminar la valuación?'){ content_tag(:i, '', class:"icon-remove") + content_tag(:span, ' Eliminar') }
    %div.widget-body
      %div.tab-content

        = simple_form_for @valuacion, {url:valuacion_path(@contrato, @valuacion), method: :put} do |f| 
          = f.error_notification 
          = flash_messages
       
          %div.row-fluid
            %div.span11
              %div.row-fluid
                = render 'form_fields', :f => f
          %br
          = button_tag(class: 'btn btn-icon btn-primary glyphicons circle_ok') do
            - content_tag(:i, '') + "Guardar"
          = link_to(valuaciones_path , class: 'btn btn-icon btn-default glyphicons circle_remove') do
            - content_tag(:i, '') + "Cancelar"
      