%ul.breadcrumb
  %li.false
    = link_to "Panel de control", root_path, class: 'pjax'
    %span.divider="/"
  %li.active
    %a="Valuaciones"

%h3="Lista de Valuaciones"
= render 'shared/descripcion_proyecto'
= render 'shared/descripcion_contrato'
%div.innerLR
  %div.widget.widget-tabs
    %div.widget-head
      %ul.tabs
        %li.icon.index_collection_link.active
          = link_to(valuaciones_path(@contrato), class: 'pjax'){ content_tag(:i, '', class:"icon-th-list") + content_tag(:span, ' Listar') }
        %li.icon.new_collection_link 
          = link_to(new_valuacion_path(@contrato), class: 'pjax'){ content_tag(:i, '', class:"icon-plus") + content_tag(:span, ' Agregar Nuevo') }
        %li.icon.export_collection_link 
          = link_to('/admin/valuacion/export'){ content_tag(:i, '', class:"icon-share") + content_tag(:span, ' Exportar') }           
    %div.widget-body
      %div.tab-content
        %div.list      
          %div.well
            .row-fluid.no-margin-bottom
              = render 'filtro'         
          = flash_messages
          = render 'listado'                  
      .clearfix.total-count= pluralize(@valuaciones.size, 'valuación')


    