%ul.breadcrumb
  %li.false
    = link_to "Panel de control", root_path, class: 'pjax'
    %span.divider="/"
  %li.active
    %a="Valuaciones"

%h3="Lista de Valuaciones"

%div.innerLR
  %div.widget.widget-tabs
    %div.widget-head
      %ul.tabs
        %li.icon.index_collection_link.active
          = link_to(list_valuaciones_path, class: 'pjax'){ content_tag(:i, '', class:"icon-th-list") + content_tag(:span, ' Listar') }
    %div.widget-body
      %div.tab-content
        %div.list
          %div.well
            .row-fluid.no-margin-bottom
              = render 'filtro'         
          = flash_messages
          %table.table.table-condensed.table-striped
            %thead
              %tr
                %th="Contrato N°"  
                %th="Número"  
                %th="Fecha Desde"
                %th="Fecha Hasta"
                %th="Monto ejecutado"
                %th="Ingeniero inspector"
                %th=""
            %tbody
              - @valuaciones.each do |p|
                %tr
                  %td= p.contrato.numero
                  %td= p.numero
                  %td= p.fecha_desde
                  %td= p.fecha_hasta
                  %td= p.montos
                  %td= p.ingeniero_inspector
                  %td
                    = link_to(edit_valuacion_path(p.contrato, p), class: 'pjax', title: 'Editar'){ content_tag(:i, '', class:"icon-pencil") }
                    = link_to(valuacion_path(p.contrato, p), method: :delete, class: 'pjax', title: 'Eliminar',data: {confirm: '¿Desea eliminar el proyecto?'}){ content_tag(:i, '', class:"icon-remove") }                  
      .clearfix.total-count= pluralize(@valuaciones.size, 'valuación')


    