.container
  .wrapper
    %h1.glyphicons.lock 
      Solicitar Confirmación
      %i
    .widget
      .widget-head
        %h3.heading Reenvío de instrucciones de confirmación
      .widget-body
        = simple_vertical_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f|
          = f.error_notification
          .form-inputs
            = f.input :email, required: false, autofocus: true, placeholder: "Ingrese su correo electrónico", input_html: { class: "input-block-level" }
            .separator.bottom
            
            .row-fluid
              .span12.center
                = f.button :submit, "Reenviar instrucciones", class: "btn btn-block btn-primary"
      .widget-footer
        .login-footer-links
          = link_to "Registrarse", new_registration_path(resource_name), class: "pull-right"