%ul.breadcrumb
  %li.false
    %a Reportes
    %span.divider / 
  %li.false
    %a Cantidad de Proyectos

%h3 Cantidad de Proyectos

.innerLR
  .widget.widget-tabs
    .widget-head
      %ul.tabs
        %li.icon.index_collection_link.active
          %a
            %i.icon-th-list
            %span Reporte
    .widget-body
      .tab-content
        %div.list
          = flash_messages
          %div.well
            .row-fluid.no-margin-bottom
              = simple_vertical_form_for :search, url: report_reportes_cantidades_obras_path, html: { method: :get, :class => "form-inline" } do |f|
                .row-fluid
                  = render :partial => "reportes/proyectos/entidad_territorial_fields"
                %br
                .row-fluid
                  .span12.first
                    = button_tag type: :submit, :class => 'btn btn-primary' do
                      %i.icon-white.icon-refresh
                      Crear Reporte
                    = link_to 'Cancelar', reportes_cantidades_obras_path, class: 'btn btn-icon btn-cancel'




