:javascript
  $('.nav.nav-list li.active').removeClass('active');
  $('.nav.nav-list li[data-model="#{@abstract_model.to_param}"]').addClass('active');

%title= "#{@abstract_model.try(:pretty_name) || @page_name} | #{[_get_plugin_name[0] || 'Rails', _get_plugin_name[1] || 'Admin'].join(' ')}"
= breadcrumb
%h3= @page_name

.innerLR
  .widget.widget-tabs
    .widget-head
      %ul.tabs
        = menu_for((@abstract_model ? (@object.try(:persisted?) ? :member : :collection) : :root), @abstract_model, @object)
        = content_for :contextual_tabs
    .widget-body
      .tab-content
        - flash && flash.each do |key, value|
          .alert{:class => "alert-#{key}"}
            %a.close{:href => '#', :'data-dismiss' => "alert"}×
            = value
        = yield