- parroquia = EntidadTerritorial::Parroquia.find(@object.entidad_territorial_id) unless @object.new_record?
%div.row-fluid
  .span4
    = select_tag :estado_id, options_from_collection_for_select(EntidadTerritorial::Estado.all, "id", "nombre", !@object.new_record? ? parroquia.municipio.estado.id :  nil), :label => false, prompt: "Estado"
  .span4
    = select_tag :municipio_id, @object.new_record? ? options_from_collection_for_select([], "id", "nombre") : options_from_collection_for_select(parroquia.municipio.estado.municipios, "id", "nombre",parroquia.parent_id), :label => false, prompt: "Municipo",
    		:"data-option-dependent" => true, 
        :"data-option-observed" => "estado_id", 
        :"data-option-url" => "/estados/:estado_id:/municipios.json", 
        :"data-option-key-method" => :id, 
        :"data-option-value-method" => :nombre 
  .span3
    = select_tag :"sector[entidad_territorial_id]", @object.new_record? ? options_from_collection_for_select([], "id", "nombre") : options_from_collection_for_select(parroquia.municipio.parroquias, "id", "nombre", @object.entidad_territorial_id), :label => false, prompt: "Parroquia", 
        :"data-option-dependent" => true, 
        :"data-option-observed" => "municipio_id", 
        :"data-option-url" => "/municipios/:municipio_id:/parroquias.json", 
        :"data-option-key-method" => :id, 
        :"data-option-value-method" => :nombre




