- for rol in Administrador::ROLES
  .checkbox
    = check_box_tag "administrador[roles][#{rol}]", rol, @object.roles.include?(rol), {:name => "administrador[roles][]"}
    = label_tag "administrador_roles_#{rol}", t(:"roles.#{rol}"), :class => "toggle-label"

= hidden_field_tag "administrador[roles][]", ""  