#footer.hidden-print
  / Copyright Line
  .copy
    Ministerio del Poder Popular para Ecosocialismo, Hábitat y Vivienda -
    %a Todos los derechos reservados
    .cotecso
      Desarrollado por 
      %a{:href => "http://www.cotecso.com.ve", :target => "_blank"} Cotecso
  / End Copyright Line
  / Copyright Line
  / End Copyright Line
/ // Footer END