/ Sidebar Menu
#menu.hidden-phone.hidden-print
  / Brand
  %a.appbrand{href: "/"}
    SAGOA
    %span (v1.0)
  %a.logo{href: "/"}
    = image_tag 'logo_gob.jpg'
  / Scrollable menu wrapper with Maximum height
  .slim-scroll{"data-scroll-height" => "1px"}
    / Regular Size Menu
    %ul.menu-0
      / Components Submenu Level 3
      - if current_user.is?(:proyecto) || current_user.is?(:admin)
        %li.hasSubmenu.glyphicons.building
          %a{"data-toggle" => "collapse", href: "#menu_proyecto"}
            %i
            %span Proyectos/Obras
          %ul#menu_proyecto.collapse
            / Components Submenu Level 3
            %li
              %a{href: main_app.proyectos_path }
                %span Listar Proyecto/Obra
            %li
              %a{href: main_app.new_proyecto_path}
                %span Nuevo Proyecto/Obra
          %span.count 2
        / Components Submenu Level 3 END
      - if current_user.is?(:contrato) || current_user.is?(:admin)
        %li.hasSubmenu.glyphicons.log_book
          %a{"data-toggle" => "collapse", href: "#menu_contrato"}
            %i
            %span Contratos
          %ul#menu_contrato.collapse
            / Components Submenu Level 3
            %li
              %a{href: main_app.contratos_path}
                %span Listar Contratos    
          %span.count 2
        / Components Submenu Level 3 END
        - if current_user.is?(:desembolso) || current_user.is?(:admin)
          %li.hasSubmenu.glyphicons.coins
            %a{"data-toggle" => "collapse", href: "#menu_desembolso"}
              %i
              %span Desembolsos
            %ul#menu_desembolso.collapse
              / Components Submenu Level 3
              %li
                %a{href: main_app.desembolsos_path}
                  %span Listar Desembolsos
            %span.count 2        
      - if current_user.is?(:valuacion) || current_user.is?(:admin)
        %li.hasSubmenu.glyphicons.inbox
          %a{"data-toggle" => "collapse", href: "#menu_valuacion"}
            %i
            %span Valuación
          %ul#menu_valuacion.collapse
            / Components Submenu Level 3
            %li
              %a{href: main_app.list_valuaciones_path}
                %span Listar Valuaciones
          %span.count 2        
      / Components Submenu Level 9
      %li.hasSubmenu.glyphicons.vcard
        %a{"data-toggle" => "collapse", href: "#menu_cuenta"}
          %i
          %span Mi perfil
        %ul#menu_cuenta.collapse
          / Components Submenu Regular Items
          %li
            %a{href: main_app.edit_administrador_registration_path(current_administrador)}
              %span Detalles de la cuenta
        %span.count 1
      / Components Submenu Level 9 END
      / Components Submenu Level 1
      - if current_user.is?(:admin)
        %li.hasSubmenu.glyphicons.user
          %a{"data-toggle" => "collapse", href: "#menu_admin"}
            %i
            %span Usuarios
          %ul#menu_admin.collapse
            / Components Submenu Regular Items
            %li
              %a{href: rails_admin.index_path("administrador")}
                %span Administrar Usuarios
            / // Components Submenu Regular Items END
          %span.count 1
        / Components Submenu Level 1 END
      / Components Submenu Level 10
      - if current_user.is?(:admin)
        %li.hasSubmenu.glyphicons.cogwheels
          %a{"data-toggle" => "collapse", href: "#menu_mantenimiento"}
            %i
            %span Mantenimiento
          %ul#menu_mantenimiento.collapse
            / Components Submenu Regular Items
            %li
              %a{href: rails_admin.index_path('contratista')}
                %span Contratista
            %li
              %a{href: rails_admin.index_path('entidad_territorial~estado')}
                %span Estados
            %li
              %a{href: rails_admin.index_path('entidad_territorial~municipio')}
                %span Municipio
            %li
              %a{href: rails_admin.index_path('entidad_territorial~parroquia')}
                %span Parroquia
            %li
              %a{href: rails_admin.index_path('entidad_territorial~ciudad')}
                %span Ciudad
            %li
              %a{href: rails_admin.index_path('ente_ejecutor')}
                %span Entes Ejecutores
            %li
              %a{href: rails_admin.index_path('estatus_transferencia')}
                %span Estatus de Transferencias
            %li
              %a{href: rails_admin.index_path('estatus3i')}
                %span Estatus 3i
            %li
              %a{href: rails_admin.index_path('fuente_financiamiento')}
                %span Fuentes de Financiamiento
            %li
              %a{href: rails_admin.index_path('fondo_financiamiento')}
                %span Fondos de Financiamiento
            %li
              %a{href: rails_admin.index_path('institucion')}
                %span Instituciones
            %li
              %a{href: rails_admin.index_path('moneda')}
                %span Moneda
            %li
              %a{href: rails_admin.index_path('sub_tipo_obra')}
                %span Sub Tipos de Obra
            %li
              %a{href: rails_admin.index_path('tipo_actividad')}
                %span Tipos Actividades
            %li
              %a{href: rails_admin.index_path('tipo_obra')}
                %span Tipos de Obra
            %li
              %a{href: rails_admin.index_path('unidad')}
                %span Unidades
            %li
              %a{href: rails_admin.index_path('sector')}
                %span Sectores
            %li
              %a 
                %span


            / // Components Submenu Regular Items END
          %span.count 18
        / Components SubmenuLevel 10 END
      - if current_user.is?(:admin)
        %li.hasSubmenu.glyphicons.cogwheels
          %a{"data-toggle" => "collapse", href: "#menu_reportes"}
            %i
            %span Reportes
          %ul#menu_reportes.collapse
            / Components Submenu Regular Items
            %li
              %a{href: main_app.reportes_cantidades_obras_path}
                %span Cantidad de Obras
              %a{href: main_app.reportes_proyectos_path}
                %span Proyectos
              %a{href: main_app.reportes_actividades_path}
                %span Actividades
              %a{href: main_app.reportes_desembolsos_path}
                %span Desembolsos    
            / // Components Submenu Regular Items END
          %span.count 4
    .clearfix
    / // Regular Size Menu END
  / // Scrollable Menu wrapper with Maximum Height END
/ // Sidebar Menu END


reportes_cantidades_obras
