// Place all the styles related to the reportes/estatus_solicitudes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#content.estatus_solicitudes {
	.widget .widget-body form {
	  margin: 5px 0 0 0;
	}
	
	.filter-bar form select {
	  width: 150px;  
	}

	button.btn, input.btn[type="submit"] {
	color: #FFFFFF;
	}
}