// Place all the styles related to the reportes/timbres_fiscales controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#content.timbres_fiscales {
	.widget .widget-body form {
	  margin: 5px 0 0 0;
	}
	
	.filter-bar form select {
	  width: 150px;  
	}

	button.btn, input.btn[type="submit"] {
	color: #FFFFFF;
	}

	.form-horizontal .control-group {
	  padding-top: 0px;  
	}

}