/* Estilos personalizados */

@import "bootstrap/variables";
@import "bootstrap/mixins";

body > .ministerio {
  padding: 0;
  background: #ffffff;
  margin: 10px auto 10px;  
  width: 94%;
}

/* Fix de colores de los iconos de los tabs */
ul { 
  li.icon a {
    i[class^="icon-"], i[class*=" icon-"] { color: #9d9d9d }
  }
  /* Tabs Activos */
  li.icon.active a {
    i[class^="icon-"], i[class*=" icon-"] { color: #fff; text-shadow: none; }
  }
}

/* Fix icono tabs */
.widget.widget-tabs .widget-head ul.tabs > li a i:before { top: 6px }
.widget.widget-tabs .widget-head ul.tabs > li a.glyphicons { padding: 0 15px 0 35px; }
.widget.widget-tabs .widget-head ul.tabs > li { height: 35px }

/* Fix menú dropdown en tabs (Rails Admin) */
.widget-tabs .widget-head { overflow: visible;
  ul.dropdown-menu {
    li :hover { 
      text-decoration: none;
      background-color: #9dce6e;
      background-image: -moz-linear-gradient(top, #a8d37d, #8ec657);
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a8d37d), to(#8ec657));
      background-image: -webkit-linear-gradient(top, #a8d37d, #8ec657);
      background-image: -o-linear-gradient(top, #a8d37d, #8ec657);
      background-image: linear-gradient(to bottom, #a8d37d, #8ec657);
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa8d37d', endColorstr='#ff8ec657', GradientType=0);
    /*      
      background-color: #0081c2;
      background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
      background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
      background-image: -o-linear-gradient(top, #0088cc, #0077b3);
      background-image: linear-gradient(to bottom, #0088cc, #0077b3);
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
      */    
    }
    li:hover a { color: #ffffff; }
    li a { padding: 0px 20px !important; line-height: 35px; }
  }
}
.dropdown .caret { margin-top: 16px; border-top: 4px solid #9d9d9d }

/* Fix dropdown en general (Ej: Top Navbar) */
li.dropdown > a > span { float: left }

/* Fix links de listado (Rails Admin) */
table {
  td.links { width: 85px;
    ul.inline {
      a.glyphicons i:before { font: 12px/1em 'Glyphicons'; }
      li a { padding: 5px 0 5px 8px; }
    }
  }
}

/* Ajuste de margin y tamaño de help-block */
.form-horizontal input + .help-block, 
.form-horizontal select + .help-block, 
.form-horizontal textarea + .help-block, 
.form-horizontal .uneditable-input + .help-block, 
.form-horizontal .input-prepend + .help-block, 
.form-horizontal .input-append + .help-block {
  margin-top: 2px;
  font-size: 12px;
  color: #9c9c9c;
}

.simple_form input + .help-block, 
.simple_form select + .help-block, 
.simple_form textarea + .help-block, 
.simple_form .uneditable-input + .help-block, 
.simple_form .input-prepend + .help-block, 
.simple_form .input-append + .help-block {
  margin-top: 2px;
  font-size: 12px;
  color: #9c9c9c;
}

.simple_form input,
.simple_form select,
.simple_form textarea,
.simple_form .uneditable-input,
.simple_form .input-prepend,
.simple_form .input-append {
  margin-bottom: 2px;
}


input.text,
input.email, 
input.password,
textarea.uniform,
input.text:focus,
input.email:focus,
input.password:focus,
textarea.uniform:focus {
  background-image: none;
  padding: 4px 6px;
  font-family: 'Open Sans', sans-serif;
  border: 1px solid #cccccc;
  border-color: #D8D9DA;
  color: #A7A7A7;
}

input.text:focus,
input.email:focus,
input.password:focus,
textarea.uniform:focus {
  background-image: none;
  padding: 4px 6px;
  font-family: 'Open Sans', sans-serif;
  border: 1px solid #cccccc;
  border-color: #c1c1c1;
  color: #A7A7A7;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.control-group.error .control-label, 
.control-group.error .help-block {
  font-size: 12px;
  margin-top: 2px;
}

.control-group.error .help-inline {
  font-size: 11.844px;
  background: #bd362f;
  @include border-radius(3px);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: white;
  padding: 2px 4px;
  font-weight: bold;
  line-height: 14px;
  white-space: nowrap;
  margin-left: 2px;
}

/* Form actions */
.form-actions { padding: 0 }
.extra_buttons { margin-left: 5px; 
  .btn { padding: 5px 12px }
}
/* Glyphicons Buttons */
.glyphicons.btn-icon { padding: 5px 10px 5px 32px; }

/* Breadcrumb */
.breadcrumb { @include border-radius(0px 5px 0px 0px);
  .divider { border: none; }
}

/* Devise (Login / Registro / Password ) */
.login #login {
  .widget .widget-body {
    form.simple_form {
      input[type="email"], input[type="password"], input[type="text"] {
        font-size: 13px;
        height: auto;
        margin-bottom: 2px;
        padding: 5px 9px;
        box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0), inset -1px -1px 1px rgba(0, 0, 0, 0);
        -moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0), inset -1px -1px 1px rgba(0, 0, 0, 0);
        -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0), inset -1px -1px 1px rgba(0, 0, 0, 0);
        @include border-radius(0);
        background: #fff;
      }
      .password { float: none; font-size: 13px; font-weight: normal; 
        label { font-weight: 600 }
      }
      .checkbox { margin-top: 0 }
      .control-group { margin-bottom: 8px }
      .separator.bottom { padding: 0 0 5px }
    }
  }
  .widget .widget-footer .login-footer-links { padding: 0 15px; }
}

/* Alerts */
.alert.alert-alert { background: #bd362f; color: #fff; border-color: #bd362f; }

/* Utils */
.small-top-separation{ margin-top: 5px }
.no-padding{ padding:0 !important}
