.container
  .wrapper
    %h1.glyphicons.lock 
      Recuperar contraseña
      %i
    .widget
      .widget-head
        %h3.heading Asignar nueva contraseña
      .widget-body
        = simple_vertical_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
          = f.error_notification
          = f.full_error :reset_password_token
          .form-inputs
            = f.input :reset_password_token, :as => :hidden
            = f.input :password, label: "Nueva contraseña", required: true, autofocus: true, :placeholder => "Ingrese su contraseña", input_html: {class: "input-block-level"}
            = f.input :password_confirmation, label: "Confirmar contraseña", required: true, :placeholder => "Confirme su contraseña", input_html: {class: "input-block-level"}
            .separator.bottom
            
            .row-fluid
              .span12.center
                = f.button :submit, "Cambiar mi contraseña", class: "btn btn-block btn-primary"
      .widget-footer
        .login-footer-links
          = link_to "Inicio de sesión", new_session_path(resource_name), class: "pull-right"