%h2= "Resumen año actual (#{Date.today.year})"
.innerLR
  .widget{:'data-toggle'=>"collapse-widget"}
    .widget-head
      %h4.heading.glyphicons.cardio
        %i
        = "Ejecución Financiera"
    .widget-body
      %div#dashboard_ejecucion_financiera{:style=>"height: 250px"}

  .row-fluid
    .span2.offset2
      %a{href: "", class:"widget-stats widget-stats-2 red"} 
        %span.glyphicons.building
          %i
        %span.txt
          %span.count= Proyecto.count
          ="Proyectos"
        .clearfix
    .span2
      %a{href: "", class:"widget-stats widget-stats-2 blue"} 
        %span.glyphicons.log_book
          %i
        %span.txt
          %span.count= Contrato.count 
          ="Contratos"
        .clearfix
    .span2
      %a{href: "", class:"widget-stats widget-stats-2 green"} 
        %span.glyphicons.coins
          %i
        %span.txt
          %span.count= Valuacion.count
          ="Valuaciones"
        .clearfix
    .span2
      %a{href: "", class:"widget-stats widget-stats-2 orange"} 
        %span.glyphicons.inbox
          %i
        %span.txt
          %span.count= Desembolso.count
          ="Desembolsos"
        .clearfix

.separator.bottom
.innerLR
  .row-fluid
    .span4
      .widget{:'data-toggle'=>"collapse-widget"}
        .widget-head
          %h4.heading.glyphicons.cardio
            %i
            = "Fondos Financiamiento"
        .widget-body
          %div#dashboard_fondos.pie
    .span4
      .widget{:'data-toggle'=>"collapse-widget"}
        .widget-head
          %h4.heading.glyphicons.cardio
            %i
            = "Proyectos"
        .widget-body
          %div#dashboard_proyectos.pie
    .span4
      .widget{:'data-toggle'=>"collapse-widget"}
        .widget-head
          %h4.heading.glyphicons.cardio
            %i
            = "Desembolsos"
        .widget-body
          %div#dashboard_desembolsos.pie    

              
:javascript

  data_ejecucion_financiera = #{Proyecto.datos_grafico_ejecucion_financiera.to_json}

  data_proyectos = #{Proyecto.datos_grafico_proyectos.to_json}

  data_desembolsos = #{Desembolso.datos_grafico_desembolsos.to_json}

  data_fondos = #{FondoFinanciamiento.datos_grafico_fondos.to_json}

  $(document).ready(function(){
    if ($('div#content.welcome').size() > 0){
      update_dashboard()
    }
  })

  $(document).on("page:change",function(){
    if ($('div#content.welcome').size() > 0){
      update_dashboard()
    }
  })
