.span10
  .row-fluid
    = f.input :titulo, input_html: {class: 'span12'}
    = f.input :observaciones, as: :text, input_html: {class: 'span12', rows: '10'}
    
  .row-fluid
    .span6
      = f.input :file, as: :file  
    .span6{style: 'text-align:center'}
      - unless @bitacora.file.blank?
        .box-generic{style: 'min-height:100px'}
          - if @bitacora.file.content_type.match(/image/)
            = image_tag @bitacora.file.url, size: '100x100'    
          - else
            = link_to(@bitacora.file_file_name,@bitacora.file.url)
          .ribbon-wrapper
            .ribbon.primary= "Archivo"

