%table.table.table-condensed.table-striped
  %thead
    %tr
      %th="Fecha"
      %th="Título"        
      %th="Observaciones"            
      %th="Usuario"
      %th="Adjunto"
      %th=""
  %tbody
    - @bitacoras.each do |p|
      %tr
        %td= l p.created_at, format: :only_date
        %td= p.titulo        
        %td= p.observaciones && p.observaciones.length > 100 ? "#{p.observaciones[0..100]}..." : p.observaciones       
        %td= p.usuario.nombre
        %td.adjunto= link_to(p.file.url, class: 'glyphicons paperclip', title: 'Descargar') { content_tag :i } unless p.file.blank?
        %td
          = link_to(edit_proyecto_bitacora_path(@proyecto, p), class: 'pjax', title: 'Editar'){ content_tag(:i, '', class:"icon-pencil") }
          = link_to(proyecto_bitacora_path(@proyecto, p), method: :delete, class: 'pjax', title: 'Eliminar',data: {confirm: '¿Desea eliminar la nota?'}){ content_tag(:i, '', class:"icon-remove") }
