%ul.breadcrumb
  %li.false
    = link_to "Panel de control", root_path, class: 'pjax'
    %span.divider="/"
  %li.active
    %a="Bitacora"

%h3="Lista de Notas"

= render 'shared/descripcion_proyecto'
%div.innerLR
  %div.widget.widget-tabs
    %div.widget-head
      %ul.tabs
        %li.icon.index_collection_link.active
          = link_to(proyecto_bitacoras_path(@proyecto), class: 'pjax'){ content_tag(:i, '', class:"icon-th-list") + content_tag(:span, ' Listar') }
        %li.icon.new_collection_link 
          = link_to(new_proyecto_bitacora_path(@proyecto), class: 'pjax'){ content_tag(:i, '', class:"icon-plus") + content_tag(:span, ' Agregar Nuevo') }
    %div.widget-body
      %div.tab-content
        %div.list      
          = flash_messages
          = render 'listado'                  
      .clearfix.total-count= pluralize(@bitacoras.size, 'nota')


    