- for subtipo in Recaudo::SUBTIPOS
  .checkbox
    = check_box_tag "recaudos[subtipos][#{subtipo}]", subtipo, @object.subtipo.include?(subtipo), {:name => "recaudos[subtipos][]"}
    = label_tag "recaudos_subtipos_#{subtipo}", t(:"subtipos.#{subtipo}"), :class => "toggle-label"

= hidden_field_tag "recaudos[subtipos][]", ""  