%input{:type => :hidden, :name => 'return_to', :value => (params[:return_to].presence || request.referer)}
%hr.separator
.form-actions
  %button.btn.btn-icon.btn-primary.glyphicons.circle_ok{:type => "submit", :name => "_save", :'data-disable-with' => t("admin.form.save")}
    %i
    = t("admin.form.save")
  %span.extra_buttons
    - if authorized? :new, @abstract_model
      %button.btn.btn-info{:type => "submit", :name => "_add_another", :'data-disable-with' => t("admin.form.save_and_add_another")}
        = t("admin.form.save_and_add_another")
    - if authorized? :edit, @abstract_model
      %button.btn.btn-info{:type => "submit", :name => "_add_edit", :'data-disable-with' => t("admin.form.save_and_edit")}
        = t("admin.form.save_and_edit")
    %button.btn.btn-icon.btn-default.glyphicons.circle_remove{:type => "submit", :name => "_continue", :'data-disable-with' => t("admin.form.cancel")}
      %i
      = t("admin.form.cancel")