%ul.breadcrumb
  %li.false
    %a Reportes
    %span.divider / 
  %li.false
    %a Desembolsos

%h3 Desembolsos

.innerLR
  .widget.widget-tabs
    .widget-head
      %ul.tabs
        %li.icon.index_collection_link.active
          %a
            %i.icon-th-list
            %span Reporte
    .widget-body
      .tab-content
        = flash_messages
        #list
          = simple_vertical_form_for :search, url: report_reportes_desembolsos_path, html: { method: :get, :class => "form-inline" } do |f|
            .well
              %span#filters_box
              %hr.filters_box{:style => "display:none"}
              .span10
                %div.row-fluid
                  .span6
                    = f.select :proyecto_id, Proyecto.all.map{ |r| [r.nombre, r.id] }, :label => false, prompt: "Proyecto"
                    = f.select :estatus_id, EstatusTransferencia.all.map{ |r| [r.nombre, r.id] }, :label => false, prompt: "Estatus de Transferencia"
                  .span3
                    = f.input :fecha_inicial, :as => :date_picker, label: false, placeholder: 'Fecha Inicial',input_html: { class: 'span6'}
                  .span3
                    = f.input :fecha_final, :as => :date_picker, label: false, placeholder: 'Fecha Final', input_html: { class: 'span6'}            
              %div.row-fluid
                = button_tag type: :submit, :class => 'btn btn-primary' do
                  %i.icon-white.icon-refresh
                  Crear Reporte
                = link_to 'Cancelar', reportes_desembolsos_path, class: 'btn btn-icon btn-cancel'




