%ul.breadcrumb
  %li.false
    %a Reportes
    %span.divider / 
  %li.false
    %a Proyectos

%h3 Proyectos

.innerLR
  .widget.widget-tabs
    .widget-head
      %ul.tabs
        %li.icon.index_collection_link.active
          %a
            %i.icon-th-list
            %span Reporte
    .widget-body
      .tab-content
        = flash_messages
        #list
          = simple_vertical_form_for :search, url: report_reportes_proyectos_path, html: { method: :get, :class => "form-inline" } do |f|
            .well
              %span#filters_box
              %hr.filters_box{:style => "display:none"}
              %div.row-fluid
                .span12
                  = f.select :unidad, Unidad.all.map{ |r| [r.nombre, r.id] }, :label => false, prompt: "Unidad"
                  = select_tag 'search[institucion]', options_from_collection_for_select([], "id", "nombre"), :label => false, prompt: "Institución",
                  :"data-option-dependent" => true, 
                  :"data-option-observed" => "search_unidad", 
                  :"data-option-url" => "/unidades/:search_unidad:/instituciones.json", 
                  :"data-option-key-method" => :id, 
                  :"data-option-value-method" => :nombre 
                  = select_tag 'search[ente_ejecutor]', options_from_collection_for_select([], "id", "nombre"), :label => false, prompt: "Ente Ejecutor",
                  :"data-option-dependent" => true, 
                  :"data-option-observed" => "search_institucion", 
                  :"data-option-url" => "/instituciones/:search_institucion:/entes_ejecutores.json", 
                  :"data-option-key-method" => :id, 
                  :"data-option-value-method" => :nombre  
                  = f.select :fuente_financiamiento, FuenteFinanciamiento.all.map{ |r| [r.nombre, r.id] }, :label => false, prompt: "Fuente de Financiamiento"
              %div.row-fluid
                .span12
                  = select_tag 'search[fondo_financiamiento]', options_from_collection_for_select([], "id", "nombre"), :label => false, prompt: "Fondo de Financiamiento",
                  :"data-option-dependent" => true, 
                  :"data-option-observed" => "search_fuente_financiamiento", 
                  :"data-option-url" => "/fuentes_financiamiento/:search_fuente_financiamiento:/fondos_financiamiento.json", 
                  :"data-option-key-method" => :id, 
                  :"data-option-value-method" => :nombre  
 
                  = f.select :tipo_obra, TipoObra.all.map{ |r| [r.nombre, r.id] }, :label => false, prompt: "Tipo de Obra"
                  = select_tag 'search[sub_tipo_obra]', options_from_collection_for_select([], "id", "nombre"), :label => false, prompt: "Sub Tipo de Obra",
                    :"data-option-dependent" => true, 
                    :"data-option-observed" => "search_tipo_obra", 
                    :"data-option-url" => "/tipos_obras/:search_tipo_obra:/sub_tipos_obras.json", 
                    :"data-option-key-method" => :id, 
                    :"data-option-value-method" => :nombre 
                  = f.select :estatus_3i, Estatus3i.all.map{ |r| [r.nombre, r.id] }, :label => false, prompt: "Estatus 3i"
              %div.row-fluid
                .span12
                  = render 'entidad_territorial_fields', :f => f
              %div.row-fluid
                .span4
                  = f.input :nombre, input_html: {class: 'span12'}
                .span3
                  = f.input :numero_proyecto
                .span3
                  = f.input :punto_cuenta
              %div.row-fluid
                .span3
                  = f.input :fecha_inicial, :as => :date_picker, input_html: { class: 'span6'}
                .span3
                  = f.input :fecha_final, :as => :date_picker, input_html: { class: 'span6'}
                .span6
                  = label_tag :impacto, "Impacto Estructurante"
                  = f.check_box :impacto, label: 'Impacto Estructurante'
                  = label_tag :recurso, "Posse Recurso"
                  = f.check_box :posee_recurso, label: 'Posee Recurso'    
                
              %div.row-fluid
                = button_tag type: :submit, :class => 'btn btn-primary' do
                  %i.icon-white.icon-refresh
                  Crear Reporte
                = link_to 'Cancelar', reportes_proyectos_path, class: 'btn btn-icon btn-cancel'





