%div.row-fluid
	.span6
		= f.input :contratista_id, collection: @contratistas, label_method: :nombre, value_method: :id, :label => 'Contratista', prompt: "Contratista", input_html: { class: 'span12' } 
%div.row-fluid
	.span6
		= f.input :numero, input_html: { class: 'span12' } 
	.span6
		= f.input :ingeniero_residente, input_html: { class: 'span12' } 
%div.row-fluid
	.span12
		= f.input :descripcion, as: :text, input_html: {maxlength: 255, row:2, class: 'span12'}
%div.row-fluid
	.span6
		= f.input :moneda_id, collection: Moneda.all, label_method: :nombre, value_method: :id, :label => 'Moneda', prompt: "Moneda", input_html: { class: 'span8', :id => 'moneda_id' }
%div.row-fluid
	.span6
		= f.input :monto, :label => 'Monto', prompt: "Monto", input_html: { class: 'span6'}  
	


:javascript
	$("#contrato_contratista_id").change(function() {
	$.ajax({
		type: "GET",
		url: "/proyectos/14/contratos/new",
		data: { m : m } ,
		success: function(data) { alert(data);  $("#rif").val(data);},
		dataType: "script"
	$("#content_rif").load("/proyectos/1/contratos/new");});


