%div.innerLR
  %h3 Editando Contrato
  = render 'shared/descripcion_proyecto'
  %div.widget.widget-tabs
    %div.widget-head
      %ul.tabs
        %li.icon.index_collection_link.active
          = link_to(proyecto_contratos_path, class: 'pjax'){ content_tag(:i, '', class:"icon-th-list") + content_tag(:span, ' Listar') }
        %li.icon.new_collection_link 
          = link_to(new_proyecto_contrato_path, class: 'pjax'){ content_tag(:i, '', class:"icon-plus") + content_tag(:span, ' Agregar Nuevo') }
    %div.widget-body
      %div.tab-content
        #list
          = simple_form_for :contrato, {url: proyecto_contrato_path, method: :put} do |f|
            
            = f.error_notification
            = flash_messages
            = render 'form_fields', :f => f
            %br
            = f.submit "Guardar", :class => "btn btn-icon btn-primary glyphicons circle_ok"
            = link_to 'Cancelar', proyecto_contratos_path(@proyecto) , class: 'btn btn-icon btn-cancel'


