%ul.breadcrumb
  %li.false
    = link_to "Panel de control", rails_admin.dashboard_path, class: 'pjax'
    %span.divider="/"
  %li.active
    %a="Contratos"

%h3="Lista de Contratos"

%div.innerLR
  %div.widget.widget-tabs
    %div.widget-head
      %ul.tabs
        %li.icon.index_collection_link.active
          = link_to(contratos_path, class: 'pjax'){ content_tag(:i, '', class:"icon-th-list") + content_tag(:span, ' Listar') }
    %div.widget-body
      %div.tab-content
        %div.list
          = flash_messages
          %div.well
            .row-fluid.no-margin-bottom
              = simple_form_for :contrato, {url: search_contratos_path, method: :get} do |f|
                .span6.first
                  = f.input :proyecto, label: false, placeholder: 'Proyecto', input_html: { class: 'span12'}, wrapper_html: {class: 'compact-horizontal'}  
                  = f.input :ingeniero_residente, label: false, placeholder: 'Igeniero Residente', input_html: { class: 'span12'}, wrapper_html: {class: 'compact-horizontal'}
                .span6  
                  = f.input :numero, label: false, placeholder: 'Número de Contrato', input_html: { class: 'span6'}, wrapper_html: {class: 'compact-horizontal'}
                  = f.select :contratista_id, @contratistas.all.map { |r| [r.razon_social, r.id] }, {include_blank: "Contratista"}, {class: 'span6'}
                %br
                .span12.first
                  = button_tag(class: 'btn btn-icon btn-primary glyphicons search') do
                    - content_tag(:i, '') + "Buscar"
                  = link_to(contratos_path , class: 'btn btn-icon btn-default glyphicons circle_remove') do
                    - content_tag(:i, '') + "Cancelar"                
          %table.table.table-condensed.table-striped
            %thead
              %tr
                %th="Proyecto"  
                %th="Contratista"  
                %th="Número de Contrato"
                %th="Ingeniero Residente"
                %th=""
            %tbody
              - if @contratos.any?
                - @contratos.each do |c|
                  %tr
                    %td= c.proyecto_nombre
                    %td= c.contratista.razon_social
                    %td= c.numero
                    %td= c.ingeniero_residente
                    %td
                      = link_to(edit_proyecto_contrato_path(c.proyecto, c), class: 'pjax', title: 'Editar'){ content_tag(:i, '', class:"icon-pencil") }
                      = link_to(proyecto_contrato_path(c.proyecto, c), method: :delete, class: 'pjax', title: 'Eliminar', confirm: '¿Desea eliminar el contrato?'){ content_tag(:i, '', class:"icon-remove") }
                      = link_to(valuaciones_path(c), class: 'pjax', title: 'Valuaciones'){ content_tag(:i, '', class:"icon-inbox") } 
        .clearfix.total-count= pluralize(@contratos.size, 'contrato')

    