/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require bootstrap/responsive
 *= require bootstrap-datetimepicker
 *= require theme/css/glyphicons
 *= require theme/scripts/plugins/forms/pixelmatrix-uniform/css/uniform.default
 *= require theme/scripts/plugins/charts/easy-pie/jquery.easy-pie-chart
 *= require theme/css/styles
 *= require_tree .
 *= require_self
 */


.filter-bar form a{
  margin: 0 5px 3px 0;
  padding: 1px 5px;
  color: #a7a7a7;
}

.cotecso {
  float: right;
}
