// Place all the styles related to the Bitacora controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.bitacora{
  .row-fluid{ margin-bottom:20px}
  td.adjunto{width:40px;text-align:center}
  .glyphicons.paperclip{
    padding: 5px 0 10px 35px;
    i:before{ font: 17px 'Glyphicons' }
  }
}