form{
  .compact-horizontal{    
    margin-bottom: 0 !important;
    > .controls {
      margin-left: 0px;
    }    
  }
}

[class*="span"].first{margin-left:0 !important}
.no-margin-bottom{margin-bottom:0 !important}