<p>
  Este mensaje ha sido enviado automáticamente por el Sistema de Permisiones
  del Ministerio del Poder Popular para el Ambiente, por favor no responda
  este mensaje.
</p>

<p>
  -- <br>
  Sistema de Permisiones
</p>