<p>Estimado <%= @resource.nombre %>,</p>

<p>Bienvenido al Sistema de Permisiones del 
  Ministerio del Poder Popular para el Ambiente.</p>

<p>Para completar el registro de tu cuenta, debes confirmar
  tu dirección de correo electrónico a través del siguiente enlace:</p>

<p><%= link_to 'Confirmar mi cuenta', confirmation_url(@resource, :confirmation_token => @token) %></p>

<%= render "firma" %>