<p>Estimado <%= @resource.nombre %>, </p>

<p>Tu cuenta ha sido bloqueada debido a un número excesivo de intentos fallidos de inicio de sesión.</p>

<p>Puedes desbloqeuar tu cuenta a través del siguiente enlace:</p>

<p><%= link_to 'Desbloquear mi cuenta', unlock_url(@resource, :unlock_token => @token) %></p>

<%= render "firma" %>
