= simple_form_for :actividad, {url: search_proyecto_actividades_path, method: :get} do |f|
  .span12.first
    = f.select :tipo_actividad_id, @tipos_actividades.all.map { |r| [r.nombre, r.id] }, {include_blank: "Tipo de Actividad"}, {class: 'span6'}
  .span12.first
    = button_tag(class: 'btn btn-icon btn-primary glyphicons search') do
      - content_tag(:i, '') + "Buscar"
    = link_to(proyecto_actividades_path , class: 'btn btn-icon btn-default glyphicons circle_remove') do
      - content_tag(:i, '') + "Cancelar"     
