= f.input :tipo_actividad_id, collection: @tipos_actividades, label_method: :nombre, value_method: :id, :label => 'Tipo de Actividad', prompt: "Tipo de Actividad", input_html: { class: 'span6' } 
= f.input :descripcion, as: :text, input_html: {maxlength: 255, row:2, class: 'span6'}
%div.row-fluid
  .span6
    = f.input :peso 
  .span4
    = f.input :porcentaje_ejecucion,  :input_html => { class: 'span4'} 
%br
%div.row-fluid
  = f.input :fecha_inicial, required: true, :as => :date_picker
  = f.input :fecha_final, required: true, :as => :date_picker
%br
= f.input :observaciones, as: :text, input_html: {maxlength: 255, row:2, class: 'span6'}


