%table.table.table-condensed.table-striped
  %thead
    %tr
      %th="Tipo de Actividad"  
      %th="Peso"
      %th="Porcentaje Ejecución"
      %th="Fecha Inicial"
      %th="Fecha Final"
      %th=""
  %tbody
    - @actividades.each do |a|
      %tr
        %td= a.tipo_actividad.nombre
        %td= a.peso
        %td= "#{a.porcentaje_ejecucion}%"
        %td= a.fecha_inicial
        %td= a.fecha_final
        %td
          = link_to(edit_proyecto_actividad_path(@proyecto, a), class: 'pjax', title: 'Editar'){ content_tag(:i, '', class:"icon-pencil") }
          = link_to(proyecto_actividad_path(@proyecto, a), method: :delete, class: 'pjax', confirm: '¿Desea eliminar la actividad?', title: 'Eliminar'){ content_tag(:i, '', class:"icon-remove") }