%div.innerLR
  %h3 Editando Actividad
  = render 'shared/descripcion_proyecto'
  %p
    %b="TOTAL PESOS DEL PROYECTO:"
    %span= @proyecto.pesos
  %div.widget.widget-tabs
    %div.widget-head
      %ul.tabs
        %li.icon.index_collection_link.active
          = link_to(proyecto_actividades_path, class: 'pjax'){ content_tag(:i, '', class:"icon-th-list") + content_tag(:span, ' Listar') }
        %li.icon.new_collection_link 
          = link_to(new_proyecto_actividad_path, class: 'pjax'){ content_tag(:i, '', class:"icon-plus") + content_tag(:span, ' Agregar Nuevo') }
    %div.widget-body
      %div.tab-content
        #list
          = simple_form_for @actividad, {url: proyecto_actividad_path, method: :put} do |f|
            
            = f.error_notification
            = flash_messages
            = render 'form_fields', :f => f
            %br
            = button_tag(class: 'btn btn-icon btn-primary glyphicons circle_ok') do
              - content_tag(:i, '') + "Guardar"
            = link_to(proyecto_actividades_path(@proyecto) , class: 'btn btn-icon btn-default glyphicons circle_remove') do
              - content_tag(:i, '') + "Cancelar"    


