!!!
/[if lt IE 7] <html class="ie lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="ie lt-ie9 lt-ie8">
/[if IE 8] <html class="ie lt-ie9">
/[if gt IE 8] <html class="ie gt-ie8">
/ [if !IE]><!
%html
  / <![endif]
  %head
    %title Ministerio del Poder Popular para el Ambiente
    / Meta
    = csrf_meta_tag
    %meta{charset: "UTF-8"}/
    %meta{content: "width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0", name: "viewport"}/
    %meta{content: "yes", name: "apple-mobile-web-app-capable"}/
    %meta{content: "black", name: "apple-mobile-web-app-status-bar-style"}/
    %meta{content: "IE=9; IE=8; IE=7; IE=EDGE", "http-equiv" => "X-UA-Compatible"}/
    
    = stylesheet_link_tag "application", :media => :all, "data-turbolinks-track" => true
    = javascript_include_tag "rails_admin/rails_admin.js", "application", "data-turbolinks-track" => true
    = javascript_include_tag 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false' 
    
  %body.solicitudes
    = render "layouts/shared/ministerio_header"
    / Main Container Fluid
    .container-fluid.fixed.menu-left
      = render "layouts/shared/top_navbar"
      / Sidebar menu & content wrapper
      #wrapper
        - if administrador_signed_in?
          = render "layouts/shared/sidebar_administrador"
        - else
          = render "layouts/shared/sidebar_solicitante"
        / Content
        #content{:'data-pjax-container' => true}
          = yield
        / // Content END
      .clearfix
      / // Sidebar menu & content wrapper END
      = render "layouts/shared/footer"
    / // Main Container Fluid END
    = yield :js