#desembolso_fuente
  = f.simple_fields_for :desembolsos_fuentes do |o|
    = render 'desembolso_fuente_fields', :f => o 
  .links
    = link_to_add_association(f, :desembolsos_fuentes,  { class: 'btn btn-icon glyphicons circle_plus btn-success' }){ content_tag('i') + ' Agregar Fuente de Financiamiento' }
