.nested-fields.well  
  .row-fluid
    .span11
      .row-fluid
        = f.input :proyecto_financiamiento_id, collection: @proyectos_financiamientos, label_method: :nombre, value_method: :id, :label => 'Fuentes y Fondos de Financiamiento del Proyecto', prompt: "Fuentes y Fondos de Financiamiento del Proyecto", input_html: { class: 'span10' }
      .row-fluid
        = f.input :moneda_id, collection: Moneda.all, label_method: :nombre, value_method: :id, :label => 'Moneda', prompt: "Moneda", input_html: { class: 'span6' }
        = f.input :monto, input_html: { :id => 'monto' } 
      %br
    .span1
      %br
        = link_to_remove_association "Eliminar", f
