= simple_form_for :desembolso, {url: search_proyecto_desembolsos_path, method: :get} do |f|
	.row-fluid
		.span4.first 
			= f.select :fondo_financiamiento_id, FondoFinanciamiento.all.map { |r| [r.nombre, r.id] }, {include_blank: "Fondo Financiamiento"}, {class: 'span12'}
		.span3
			= f.input :desde, label: false, placeholder: 'Desde', :as => :date_picker, input_html: { class: 'span12'}, wrapper_html: {class: 'compact-horizontal'}
		.span3
			= f.input :hasta, label: false, placeholder: 'Hasta',:as => :date_picker, input_html: { class: 'span12'}, wrapper_html: {class: 'compact-horizontal'}
	.row-fluid
		.span4
			= f.select :estatus_transferencia_id, EstatusTransferencia.all.map { |r| [r.nombre, r.id] }, {include_blank: "Estatus Transferencia"}, {class: 'span12'}
	.row-fluid
		.span12.first
			= button_tag(class: 'btn btn-icon btn-primary glyphicons search') do
				- content_tag(:i, '') + "Buscar"
			= link_to(proyecto_desembolsos_path , class: 'btn btn-icon btn-default glyphicons circle_remove') do
				- content_tag(:i, '') + "Cancelar"	
		