%div.span10
	%div.row-fluid  
		.span2
			= f.input :fecha, required: true, :as => :date_picker
	%div.row-fluid  
		.span8
			= f.input :valuacion, required: true
	%div.row-fluid
		.span8
			= f.input :estatus_id, required: true, collection: @estatus_transferencia, label_method: :nombre, value_method: :id, :label => 'Estatus Transferencia', prompt: "Estatus Transferencia" 
	%div.row-fluid	
		.span12
			= f.input :observacion, as: :text, input_html: {maxlength: 255, row:2, class: 'span6'}
	%br
	%div.row-fluid	
		= render 'desembolso_fuente', :f => f  
      