%ul.breadcrumb
  %li.false
    = link_to "Panel de control", rails_admin.dashboard_path, class: 'pjax'
    %span.divider="/"
  %li.active
    %a="Desembolsos"

%h3="Lista de Desembolsos"
= render 'shared/descripcion_proyecto'
%div.innerLR
  %div.widget.widget-tabs
    %div.widget-head
      %ul.tabs
        %li.icon.index_collection_link.active
          = link_to(proyecto_desembolsos_path, class: 'pjax'){ content_tag(:i, '', class:"icon-th-list") + content_tag(:span, ' Listar') }
        %li.icon.new_collection_link 
          = link_to(new_proyecto_desembolso_path, class: 'pjax'){ content_tag(:i, '', class:"icon-plus") + content_tag(:span, ' Agregar Nuevo') }
        %li.icon.export_collection_link 
          = link_to('/admin/desembolso/export'){ content_tag(:i, '', class:"icon-share") + content_tag(:span, ' Exportar') }           
    %div.widget-body
      %div.tab-content
        %div.list
          = flash_messages
          %div.well
            .row-fluid.no-margin-bottom
              = render 'filtro'
          %table.table.table-condensed.table-striped
            %thead
              %tr
                %th="Número de Valuaión"  
                %th="Montos"
                %th="Fecha"
                %th="Estatus Transferencia"
                %th=""
            %tbody
              - @desembolsos.each do |d|
                %tr
                  %td= d.valuacion
                  %td= d.montos
                  %td= d.fecha
                  %td= d.estatus_transferencia.nombre
                  %td
                    = link_to(edit_proyecto_desembolso_path(@proyecto, d), class: 'pjax', title: 'Editar'){ content_tag(:i, '', class:"icon-pencil") }
                    = link_to(proyecto_desembolso_path(@proyecto, d), method: :delete, class: 'pjax', confirm: '¿Desea eliminar el Desembolso?', title: 'Eliminar'){ content_tag(:i, '', class:"icon-remove") }
      .clearfix.total-count= pluralize(@desembolsos.size, 'desembolso')

    