%ul.breadcrumb
  %li.false
    = link_to "Panel de control", rails_admin.dashboard_path, class: 'pjax'
    %span.divider="/"
  %li.active
    %a="Desembolsos"

%h3="Lista de Desembolsos"

%div.innerLR
  %div.widget.widget-tabs
    %div.widget-head
      %ul.tabs
        %li.icon.new_collection_link 
          = link_to(desembolsos_path, class: 'pjax'){ content_tag(:i, '', class:"icon-th-list") + content_tag(:span, ' Listar') }
    %div.widget-body
      %div.tab-content
        %div.list
          = flash_messages
          %div.well
            .row-fluid.no-margin-bottom
              = simple_form_for :desembolso, {url: search_desembolsos_path, method: :get} do |f|
                .row-fluid
                  .span4.first 
                    = f.select :fondo_financiamiento_id, FondoFinanciamiento.all.map { |r| [r.nombre, r.id] }, {include_blank: "Fondo Financiamiento"}, {class: 'span12'}  
                  .span3
                    = f.select :estatus_transferencia_id, EstatusTransferencia.all.map { |r| [r.nombre, r.id] }, {include_blank: "Estatus Transferencia"}, {class: 'span12'}
                  .span3
                    = f.input :numero_contrato, label: false, placeholder: 'Número de Contrato', input_html: { class: 'span12'}, wrapper_html: {class: 'compact-horizontal'}
                .row-fluid
                  .span4
                    = f.input :proyecto, label: false, placeholder: 'Proyecto', input_html: { class: 'span12'}, wrapper_html: {class: 'compact-horizontal'}
                  .span3
                    = f.input :desde, label: false, placeholder: 'Desde', :as => :date_picker, input_html: { class: 'span12'}, wrapper_html: {class: 'compact-horizontal'}
                  .span3
                    = f.input :hasta, label: false, placeholder: 'Hasta',:as => :date_picker, input_html: { class: 'span12'}, wrapper_html: {class: 'compact-horizontal'}
                  
                .row-fluid
                  .span12.first
                    = button_tag(class: 'btn btn-icon btn-primary glyphicons search') do
                      - content_tag(:i, '') + "Buscar"
                    = link_to(desembolsos_path , class: 'btn btn-icon btn-default glyphicons circle_remove') do
                      - content_tag(:i, '') + "Cancelar" 
          %table.table.table-condensed.table-striped
            %thead
              %tr
                %th="Proyecto"  
                %th="Nro. Valuacion"
                %th="Monto"
                %th="Fecha"
                %th="Estatus Transferencia"
                %th=""
            %tbody
              - @desembolsos.each do |d|
                %tr
                  %td= d.proyecto.nombre
                  %td= d.valuacion
                  %td= d.montos
                  %td= d.fecha
                  %td= d.estatus_transferencia.try(:nombre)
                  %td
                    = link_to(edit_proyecto_desembolso_path(d.proyecto, d), class: 'pjax', title: 'Editar'){ content_tag(:i, '', class:"icon-pencil") }
                    = link_to(proyecto_desembolso_path(d.proyecto, d), method: :delete, class: 'pjax', title: 'Eliminar', confirm: '¿Desea eliminar el Desembolso?'){ content_tag(:i, '', class:"icon-remove") }
      .clearfix.total-count= pluralize(@desembolsos.size, 'desembolso')

    